# Игнорируем виртуальное окружение
gs_venv/

# Игнорируем скомпилированные файлы Python
*.pyc
__pycache__/

# Игнорируем файлы настроек IDE
.idea/
.vscode/

# Игнорируем другие системные файлы
*.log
*.sqlite3

# Игнорируем конфигурационные файлы, которые могут быть специфичны для операционной системы
.DS_Store